#menu-wrapper {
  border: solid;
  width: 75%;
  margin: 0 auto;
}
ul {
  padding: 0 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  cursor: pointer;
}
#menu-item-boxes {
  display: flex;
  flex-direction: row;
}
.menu-item-box {
  border: solid;
  width: 50%;
  display: none;
}
#menu-item-second-box {
  margin-left: -25%;
}
/********************************************/
.visible {
  display: flex;
}